﻿
@model IEnumerable<AspCoreModels.ExpedientModel>

@{
    ViewBag.Title = "Expedient List";
}

<h3>Expedient List</h3>

<p>
    @Html.ActionLink("New Expedient", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.BloodType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Allergies)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.BloodType.Name)
            </td>
            <td>
                <ul class="">
                    @foreach (var allergy in item.Patient.Allergies)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => allergy.Name)
                        </li>
                    }
                </ul>
            </td>
        </tr>
    }

</table>
